@using System.Web.Configuration
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using System.Web.Routing
@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html lang="en" ng-app="lendtome">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title ng-bind="title">Lend To Me</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        @Styles.Render("~/content/css/app")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">
    </head>
<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="navController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle btn navbar-btn" ng-init="navCollapsed = true"
                        ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">lend-to.me</a>
            </div>
            <div collapse="navCollapsed" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="~/books" ng-show="isAuthenticated">My Books</a>
                    </li>
                    <li>
                        <a href="~/links" ng-show="isAuthenticated">Linked Libraries</a>
                    </li>
                    <li>
                        <a href="~/sentrequests" ng-show="isAuthenticated">Sent Link Requests</a>
                    </li>
                    <li>
                        <a href="~/receivedrequests" ng-show="isAuthenticated">Received Link Requests</a>
                    </li>
                </ul>
                <div class=" navbar-right">
                    <ul class="nav navbar-nav ">
                        <li class="dropdown" ng-hide="isAuthenticated">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Sign In</b> <span class="caret"></span></a>
                            <ul id="login-dp" class="dropdown-menu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Sign in with
                                            <div class="social-buttons">
                                                <button ng-click="signin('facebook')" class="btn btn-social btn-facebook">
                                                    <span class="fa fa-facebook"></span>Facebook
                                                </button>
                                                <button ng-click="signin('google')" class="btn btn-social btn-google">
                                                    <span class="fa fa-google-plus"></span>Google
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" ng-show="isAuthenticated">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{userName}}</b> <span class="caret"></span></a>
                            <ul id="logout-dp" class="dropdown-menu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="#" ng-click="signout()">Sign Out</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>
    <div id="ui-view" class="container" ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
        <div ng-view>
        </div>
    </div>

    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>*@
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/app")

    <!--[if lte IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Base64/0.3.0/base64.min.js"></script>
    <![endif]-->
    @*
        Google Analytics
        ----------------
        Google recommends that this script be placed at the top of the page. Factors to consider: if you place this
        script at the top of the page, you'll be able to count users who don't fully load the page, and you'll incur
        the max number of simultaneous connections of the browser.
        https://developers.google.com/analytics/devguides/collection/analyticsjs/
    *@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '@WebConfigurationManager.AppSettings["GoogleAnalytics:PropertyID"]', '@(Request.IsLocal ? "none" : "auto")');
    </script>
</body>

</html>